.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-box{
    width: 40%;
    padding-left: 1em;
}
.content-box h1{
    font-size: 2.3rem;
    color: #301934;
    text-align: center;
}
.content-box p{
    font-size: 1rem;
    margin: 1em;
    text-align: center;
}
.image-container{
    width: 50%;
}
.image-container img{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.btn{
    border: 2px solid teal;
    border-radius: 2em;
}
.read-more{
    display: inline-block;
    padding: .5em 1.5em;
    display: inline-block;
    text-decoration: none;
    color: teal;
}


/*media queries*/
@media screen and (max-width:900px){
   html{
    font-size: 13px;
   }
}
@media screen and (max-width:768px){
   html{
    font-size: 13px;
   }
     .main-section{
    flex-direction: column;
    margin-top: 1em;
  }
  .content-box{
    width: 90%;
  }
  .content-box h1{
    font-size: 1.8em;
    text-align: center;
}.image-container{
    width: 90%;
    margin-top: 2em;
}
}